@font-face {
    font-family: Roboto-Light, sans-serif;
    src: url(../font/Roboto-Light.ttf);
}

@font-face {
   font-family: Roboto-Medium, sans-serif;
    src: url(../font/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular,sans-serif;
    src: url(../font/Roboto-Regular.ttf);
}