@import url(/media/css/fonts.css);

@font-face {
    font-family: UniversNextForHSBC-Light;
    src: url(/media/font/UniversNextforHSBC-Light.otf);
}

/* old: 76, 159, 209   new: 227, 92, 85
 */

.api-info-section {
    background-color: #777;
}

.api-info-about {
    background-color: #777;
}