/*reset the default boostrap design:*/
.container {
  width: auto;
  padding:0;
  margin:0;
  margin-left: 365px;
}
pre{
  border: 0; 
  background-color: #333333;
}

hr {
  border: 0;
  margin: 0;
  border-top: 1px solid #D7D8D6 ;
}

@media only screen and (max-width: 1420px) {
  #transaction_selector-option-box {visibility: hidden;}
}

@media only screen and (min-width: 760px) and (max-width: 1279px) {
  .content-box__info-box {max-width: 1000px;}
  .content-box__input-box {max-width: 1000px;}
  .content-box__right-box {max-width: 1000px;}
  .content-box__text-box {max-width: 1000px;}
  .container {margin-left: 0px;}
  .option-section {display: none;}
  .default-button {left: 88%;}
  .default-input {max-width: 82%;}
  .version_path {visibility: hidden;}
  .api_list {
    display: none;
    width: 100%;
    top:88px
  }
  .content-box__headline {padding: 320px 0 0 0;}
  #logo-left {
    visibility: visible;
    display: inline-block;
    float: none;
  }
  #logo-right {visibility: hidden;}
  #right_side .resource:nth-child(4) .content-box__headline{
    margin: 0 0 32px 0;
    padding: 220px 0 0 0;
  }
  #small-nav-collapse{
    display: block;
  }
  #small-screen-navbar #small-nav-collapse {
    display: block;
  }
  .header .container{
    text-align: center;
  }

  .api_list_item {
    background: none
  }
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  #left_side {visibility: collapse;}
  .content-box__info-box {max-width: 600px;}
  .content-box__input-box {max-width: 600px;}
  .content-box__right-box {max-width: 600px;}
  .content-box__text-box {max-width: 600px;}
  .container {margin-left: 0px;}
  .option-section {display: none;}
  .default-button {left: 83%;}
  .default-input {max-width: 75%;}
  .version_path {visibility: hidden;}
  .api_list {visibility: hidden;}
  .content-box__headline {padding: 320px 0 0 0;}
  #logo-left {visibility: visible;}
  #logo-right {visibility: hidden;}
}