@font-face {
  font-family: 'arialregular';
  src: url("../fonts/arial_regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arial_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/arial_regular-webfont.woff2") format("woff2"), url("../fonts/arial_regular-webfont.woff") format("woff"), url("../fonts/arial_regular-webfont.ttf") format("truetype"), url("../fonts/arial_regular-webfont.svg#arialregular") format("svg");
  /* Legacy iOS */
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #f2f2f2;
  font-family: "arialregular", serif;
}

a img {
  border: 0;
}

.container {
  width: 1017px;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}

.header {
  background-color: #fff;
  border: 0px solid #666666;
  margin: 0px 0 0 0;
  border-bottom: 0;
}

.logo-box {
  float: left;
}

.logo-box__link {
  display: block;
  margin: 13px 0 8px 3px;
}

.site-title-box {
  float: left;
  margin: 41px 0 0 23px;
}

.site-title-box__text {
  font-size: 22px;
  line-height: 26px;
  color: #666666;
  display: inline-block;
  letter-spacing: -0.4px;
  margin: 0;
}

.settings-box {
  float: right;
  margin: 28px 8px 28px 0;
}

.sign-box {
  float: left;
  margin: 0 6px 0 0;
}

.sign-box__text {
  font-size: 12px;
  line-height: 16px;
  color: #31b8cd;
  display: block;
  padding: 0 0 0 0;
  margin: 0;
}


.signed {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.9px;
}

.settings-imgs {
  float: right;
}

.settings-imgs__link {
  display: block;
  margin: 1px 0 0 0;
  float: left;
}
.settings-imgs__link:first-child {
  border-right: 1px solid #cccccc;
  margin: 1px 7px 0 0;
  padding: 2px 8px 11px 0;
}

.settings-imgs__icon {
  display: block;
}


.logout {
  display: block;
}


.breadcrumb-section {
  background-color: #333333;
  border: 1px solid #3a3a3a;
}

.breadcrumbs__row {
  padding: 0;
  margin: 0;
  float: left;

  font-size: 12px;
  line-height: 16px;
  color: #fff;

}

.version_path {
  display: inline-block;
  float: right;
  padding: 14px 2px 12px 2px;

  margin: 0 0 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.footer_link {
  text-decoration: none;
}

.breadcrumbs__list {
  display: inline-block;
  padding: 0;
}
.breadcrumbs__list:after {
  content: "\00a0/\00a0";
  color: #fff;
  font-size: 14px;
}
.breadcrumbs__list:last-child:after {
  content: "";
}

.breadcrumbs__link {
  padding: 14px 2px 12px 2px;
  display: inline-block;
  margin: 0 0 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.api-info-section {
  background-color: #31b8cd;
}

.info-box {
  padding: 0 5px 0 0;
}
.info-box:after {
  content: '';
  display: table;
  clear: both;
}

.info-box__headline {
  font-weight: 300;
  font-size: 25px;
  color: #fff;
  line-height: 29px;
  margin: 0 0 0 0;
  padding: 21px 0 8px 0;
  letter-spacing: 0.5px;
}

.info-box__about_selected {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  line-height: 29px;
  margin: 0 0 0 0;
  padding: 5px 0 8px 0;
  letter-spacing: 0.5px;
}


.text-wrapper {
  float: left;
  width: 33%;
  padding: 0 0 27px 0;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  margin: 0 0 0 0;
  letter-spacing: 0.2px;
}
.text-wrapper:nth-child(3) {
  text-align: center;
}
.text-wrapper:nth-child(4) {
  text-align: right;
}

.text-wrapper__text {
  font-size: 12px;
  line-height: 22px;
  display: block;
  color: #fff;
  margin: 0 0 0 0;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.option-box {
  float: left;
  background-color: #39b54a;
  width: 17%;
  padding: 8px 8px 38px 8px;
  margin: 39px 8px 38px 8px;
  position: relative;
}
.option-box:first-child {
  margin: 39px 8px 38px 2px;
}
.option-box:last-child {
  margin: 39px 2px 38px 11px;
}

.option-box__headline {
  margin: 0;
  padding: 1px 0 6px 2px;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.3px;
  overflow: hidden;
}

.count-box {
  background-color: #fff;
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}

.count-box__number {
  display: block;
  font-size: 62px;
  line-height: 64px;
  color: #31b8cd;
  text-align: center;
  padding: 20px 0 26px 0;
}

.option-box__select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  border: 0;
  width: 100%;
  height: 38px;
  font-size: 14px;
  overflow: hidden;
  background: url(../images/select-arrow.png) no-repeat right 12px top 16px;
  background-color: #333333;
  padding: 0 0 3px 9px;
}

.option-box__option {
  color: #fff;
  font-size: 14px;
}

.content-section {
  margin: 0 0 40px 0;
}

.content-box {
  padding: 0 7px 31px 12px;
  width: 97.1%;
  height: 100%;
}
.content-box pre {
  margin: -45px 0px 0px 0px; /* remove somewhat invisible margin */
  padding: 0;
}
.content-box:after {
  content: '';
  display: table;
  clear: both;
}

.padding-bottom-zero {
  padding-bottom: 0;
}

.content-box--modify {
  padding-right: 0;
  width: 97.7%;
}

.content-box__headline {
  margin: 0 0 26px 0;
  font-size: 29px;
  line-height: 33px;
  color: #24bc65;
  font-weight: 400;
  padding: 17px 0 0 0;
  letter-spacing: 0.8px;
}

.content-box__text-box {
  float: left;
  width: 27%;
}

.content-box__row {
  margin: 0;
  padding: 0;
}

.content-box__link {
  margin: 0 0 9px 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  letter-spacing: 0.3px;
}

.content-box__input-box {
  float: left;
  width: 720px;
  position: relative;
}

.content-box__available-since {
  float: left;
  width: 720px;
  position: relative;
  color: #504854;
  font-size: 8px;
}


.content-box__swagger_etc {
  float: right;
  width: 720px;
  position: relative;
  color: #504854;
  font-size: 8px;
  text-decoration: none;
}


.api_call_index {
  margin: 0 0 0px 0;
  font-size: 10px;
  line-height: 33px;
  color: #24bc65;
  font-weight: 400;
  padding: 0px 0 0 0;
  letter-spacing: 0.8px;
}


.default-input {
  margin: 2px 0 0 2px;
  padding: 13px 108px 9px 20px;
  width: 570px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 22px;
  color: #504854;
  float: left;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.default-button {
  display: block;
  border: 0;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #50b165;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  width: 92px;
  padding: 4px 0 4px 0;
  position: absolute;
  top: 11px;
  right: 32px;
}

.bg--white {
  background-color: #fff;
}

.accounts {
  margin: 19px 0 0 0;
}

.content-box__text {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin: -3px 0 0 0;
  padding: 0 22px 15px 0;
  letter-spacing: 0.25px;
}
.content-box__text:last-child {
  padding: 0 22px 44px 0;
}

.content-box__info-box {
  width: 701px;
  background-color: #eaf8fa;
  float: right;
  margin: 16px 0 0 0;
  padding: 14px 0 44px 19px;
  position: relative;
  min-height: 100%;
}

.content-box__info-box span {
  /*display: block;*/
  padding: 0 0 1.5px 0;
  font-size: 14px;
  line-height: 24px;
}
/*
.content-box__info-box span:nth-child(n+2) {
  padding-left: 10px;
}
.content-box__info-box span:nth-child(n+3) {
  padding-left: 19px;
}
.content-box__info-box span:nth-child(n+6) {
  padding-left: 29px;
}
*/

.content-box__close-icon {
  position: absolute;
  top: 23px;
  right: 18px;
  z-index: 10;
  cursor: pointer;
}

.footer-content-wrapper {
  margin: 0 8px 0 0;
  padding: 0 1px 13px 9px;
  border-bottom: 1px solid #fff;
}
.footer-content-wrapper:after {
  content: '';
  display: table;
  clear: both;
}

.footer-box {
  padding: 0 0 0 0;
  margin: 42px 0 0 0;
  width: 89%;
  float: left;
}

.footer-box__paragraph {
  padding: 0 0 0 3px;
  margin: 0 0 0 0;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  letter-spacing: 0.3px;
}

.footer-box__link {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: block;
  float: right;
}

.footer-logo-box {
  float: right;
  margin: 45px 4px 0 0;
}

.footer-links-box {
  padding: 0 0 0 10px;
  margin: 17px 0 0 0;
  float: left;
}

.footer-link-box__link {
  padding: 0 8px 0 0;
  margin: 0 0 0 0;
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  color: #00c4d2;
  text-decoration: none;
  letter-spacing: 0.1px;
  border-right: 1px solid #fff;
}
.footer-link-box__link:last-child {
  border-right: 0;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



a.version {
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  margin: 0 0 0 0;
  letter-spacing: 0.2px;
  text-decoration: none;
}


a.end-point-anchor {
  text-decoration: none;
}