@import url(/media/css/fonts.css);

@font-face {
  font-family: Roboto-Light;
  src: url(/media/font/Roboto-Light.ttf);
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #fff;
  font-family: "arialregular", serif;
}

a img {
  border: 0;
  height: 40px;
}

.container {
  margin-left: 365px;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

.option-section .container {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  height: 104px;
}

.header {
  background-color: #fff;
  border: 0px solid #666666;
  border-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.header .logo-box {
  float: left;
  /*padding: 7px 0 8px 0px;*/
}

#logo-right{
  display:none
}

.header .logo-box__link {
  display: block;
  margin: 13px 0 8px 3px;
}
.header .logo-box__img {
  height: 40px;
}

.header .site-title-box {
  float: left;
  margin: 20px 0 0 23px;
}
.header .site-title-box__text {
  display: inline-block;
  margin: 0;
  font-family: Roboto-Light;
  font-size:18px;
  color: #333333;
  letter-spacing: 0;
  text-align: center;
  line-height: 31px;
}

.header .settings-box {
  float: right;
  margin: 22px 25px 22px 0;
}

.sign-box {
  float: right;
  margin: 0 0 0 0;
}
.sign-box a,
.sign-box a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.logged-in a,
.logged-in a:hover,
.logged-in a:active
{
    text-decoration: none;
}


.logout-link:hover,
.logout-link:active{
    text-decoration: none;
}

.sign-box__text {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  display: block;
  padding: 9px 20px 11px;
  margin: 0;
  background-color:#53C4EF;
  /*border: 2px solid #a5a5a5*/
}


/*.signed {*/
/*  font-size: 12px;*/
/*  line-height: 22px;*/
/*  letter-spacing: -0.9px;*/
/*}*/

.settings-imgs {
  float: right;
  margin-right: 2px;
}
.settings-imgs .logged-in {
  margin-top: 10px;
}

.settings-imgs__link {
  display: block;
  margin: 1px 0 0 0;
  float: right;
}
.settings-imgs__link:first-child {
  border-left: 1px solid #cccccc;
  margin: -1px 7px 0 -1px;
  padding: 2px 8px 0 8px;
}

.settings-imgs__icon {
  display: block;
}


.logout {
  display: block;
}


.breadcrumb-section {
  background-color: #333333;
  position: fixed;
  top: 88px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 7;
}

.breadcrumb-collections-section {
  background-color: #333333;
  position: fixed;
  top: 128px;
  left: 0;
  width: 200%;
  height: 40px;
  z-index: 5;
}

.breadcrumb-more-section {
  background-color: #333333;
  position: fixed;
  top: 88px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 7;
  display: none;
}




.breadcrumbs__row {
  padding: 10px 0 10px 25px;
  margin: 0;
  float: left;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
  height: 20px;
}

.container .version_path {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 26px 25px 22px 0;
  letter-spacing: 0;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
}

/*.breadcrumb-section .version_path {
  display: inline-block;
  float: right;
  padding: 0;

  margin: 0 10px 0 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0;
  text-decoration: none;
}*/

.breadcrumbs__list {
  display: inline-block;
  padding: 0;
  margin-right: 24px;
}

.breadcrumbs__list:last-child:after {
  content: "";
}

.breadcrumbs__link {
  padding: 0;
  display: inline-block;
  margin: 0 0 0 0;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
}


.extra_small_text {
  padding: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0;
  text-decoration: none;
}

.api-info-section {
  position: fixed;
  top: 168px;
  left: 0;
  width: 100%;
  /*height: 68px;*/
  z-index: 6;
  background: #767676;
}
#message-docs .api-info-section,
#glossary-resources .api-info-section {
  top: 121px;
}
.api-info-section .container {
  position: relative;
}

.api-info-about {
  color: white;
  background: #767676;
  height: 52px;
  font-family: Roboto-Medium;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
}

.api-info-about .info-box {
  padding:12px 0 12px;
  margin-left: 16px;
}
.info-box {
  padding: 0 0 0 0;
  float: left;
}
.info-box:after {
  content: '';
  display: table;
  clear: both;
}

.info-box__headline {
  margin: 0 0 0 0;
  padding: 16px 0 16px 25px;
  font-family: Roboto-Light;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 36px;
}

.info-box__about_selected {
  font-family: Roboto-Light;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
  margin: 0 0 0 0;
}


.text-wrapper {
  float: left;
  width: 33%;
  padding: 0 0 27px 0;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  margin: 0 0 0 0;
  letter-spacing: 0;
}
.text-wrapper:nth-child(3) {
  text-align: center;
}
.text-wrapper:nth-child(4) {
  text-align: right;
}

.text-wrapper__text {
  font-size: 12px;
  line-height: 22px;
  display: block;
  color: #fff;
  margin: 0 0 0 0;
  letter-spacing: 0;
  text-decoration: none;
}

.option-section {
  display: none;
  position: fixed;
  top: 225px;
  left: 0;
  width: 100%;
  height: 104px;
  background-color: #fff;
  z-index: 5;
}
.option-section .option-box__headline {
  padding-top: 0;
  padding-bottom: 8px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  line-height: 24px;
}
.option-section select {
  font-family: Roboto-Regular;
  /*font-size: 16px;*/
  /*color: #333333;*/
  /*line-height: 24px;*/
  /*height: 44px;*/
  /*padding: 9px 0 11px 12px;*/
  /*background: url(../images/dropdown-icon.jpg) no-repeat right 8px top 5px;*/
  /*background-size: 44px 32px;*/
  color: white;
  background-color: #fff;
  /*border: 1px solid #767676;*/
  top:28px;
  border-radius: 0;
  
}
.option-section .option-box {
  height: 50px;
  float: left;
  background-color: #fff;
  width: 187px;
  padding: 0 0px 0px 0;
  margin: 12px 9px 0px 8px;

  position: relative;
}
.option-box:first-child {
  margin-left:25px;
}
/*.option-box:last-child {*/
/*  margin: 10px 2px 10px 11px;*/
/*}*/

.option-box__headline {
  margin: 0;
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  overflow: hidden;
}

.count-box {
  background-color: #fff;
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}

.count-box__number {
  display: block;
  font-size: 62px;
  line-height: 64px;
  color: #31b8cd;
  text-align: center;
  padding: 20px 0 26px 0;
}

.option-box__select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  border: 0;
  width: 100%;
  height: 38px;
  font-size: 14px;
  color: #000;
  overflow: hidden;
  background: url(../images/select-arrow.png) no-repeat right 12px top 16px;
  background-color: #333333;
  padding: 0 0 3px 9px;
}

.option-box__option {
  color: #fff;
  font-size: 14px;
}


.content-section {
  margin: 0 0 40px 0;
}


.content-box {
  /*padding: 5px;*/
}
.content-box pre {
  margin: 0px 0px 0px 0px; /* remove somewhat invisible margin */
  padding: 0;
}
.content-box:after {
  content: '';
  display: table;
  clear: both;
}

.padding-bottom-zero {
  padding-bottom: 0;
}

.content-box--modify {
  padding-right: 0;
  width: 97.7%;
}

.content-box__headline {
  margin: -240px 0 32px 0;
  font-weight: 400;
  padding: 240px 0 0 0;
  font-family: Roboto-Light;
  font-size: 28px;
  color: #333333;
  letter-spacing: 0;
  line-height: 31px;
}
.resource .content-box__headline{
  margin-right:20px ;
  float: left ;
}

.resource-error .content-box__headline {
  margin: 0px 0 32px 0;
  color: #FFFFFF;
}

.resource-error .bg--white {
  background-color: #333333;
}
#right_side .resource:nth-child(5) .content-box__headline{
  margin: 0 20px 32px 0;
  padding: 242px 0 0 0;
}

#right_side .resource:nth-child(5) .content-box .end-point-anchor form{
  padding: 242px 0 0 0;
}
 
#obp\.getAdapterInfo{
  margin: 0 0 32px 0;
  padding: 120px 0 0 0;
}

.message-doc .content-box__headline{
  margin-top: -220px;
  padding-top: 220px ;
}

.message-doc .content-box pre{
  background-color: #FFFFFF;
}



.glossary .content-box__headline {
  margin: -222px 0 32px 0;
  font-weight: 400;
  padding: 222px 0 0 0;
  font-family: Roboto-Light;
  font-size: 28px;
  color: #333333;
  letter-spacing: 0;
  line-height: 31px;
}
#glossary-resources .glossary:nth-child(4) .content-box__headline{
  margin: 0 0 32px 0;
  padding: 222px 0 0 0;
}


#glossary-resources pre,
#glossary-resources pre code {
  font-family: 'Courier New', monospace;
}

.content-box__text-box {
  /*float: left;*/
  /*left: 0;*/
  width: 100%;
  /*padding: 5px;*/
  max-width: 1000px;
  font-family: Roboto-Regular;
  font-size: 16px;[
  color: #333333;]
  line-height: 24px;
  margin-bottom: 4px;
}

.sign-box__text:hover {
  background: #1f97ef;
  text-decoration:none;    
}

.sign-box__text:active {
  background: #0b3aef;
  text-decoration:none;

}


.content-box__text-box p:first-child {
  margin-top: 0;
  word-break:break-all;
}




.content-box__row {
  margin: 0;
  padding: 0;
}

.content-box__link {
  margin: 0 0 9px 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  letter-spacing: 0;
}


.content-box__right-box {
   float: left;
   left: 0;
}

.content-box__input-box .default-button:hover  {
  background-color: #1f97ef;
  border-radius: 0;
  outline: 0;
  border: 0;
}

.content-box__input-box .default-button:active {
  background-color: #0b3aef;
  border-radius: 0;
  outline: 0;
  border: 0;
}

.content-box__input-box form > .default-input{
  width: 50%;
  float: left;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 13px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

#example_request_header .default-input{
  float: left;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 13px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

#api_request_url .default-input {
  width: 69%;
  float: left;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 13px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

#api_request_url .rest-call-button {
  float: right;
}

.content-box__available-since {
  float: left;
  position: relative;
  font-size: 8px;
  margin-left: 25px;
  margin-top: 13px;
  font-family: Roboto-Regular;
  color: #333333;
  line-height: 24px;
}


.content-box__swagger_etc {
  float: right;
  position: relative;
  color: #504854;
  font-size: 12px;
  text-decoration: none;
}




/* This is the list of Api calls on the left panel */
.api_list {
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: scroll;
    width: 365px;
    height: 100%;
    background-color: white;
    display:block;           
    word-break:keep-all;     
    white-space:nowrap;      
}

/*.comma_separated_api_call_list {*/
/*    background-color: white;*/
/*    font-size: 10px;*/
/*    text-decoration: none;*/
/*}*/

.api_group_item {
  margin: 0 0 24px 0px;
  list-style-type: none;
  list-style-image: none;
}
.api_group_item a {
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
.api_group_item a:hover {
  color: #333333;
}


.api_list ul{
  padding-left:16px;
}

.api_list_item {
  margin: 0 0 0px -16px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
  padding: 0 0 0 26px;
  background: url('/media/images/ico-list-bullet.png') no-repeat;
  background-position-x: 4px ;
  background-position-y: 2px;
  /*letter-spacing: 0.8px;*/
}
.api_list_item a {
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #333333;
  line-height: 4px;
}
.api_list_item a:hover {
  color: #333333;
}

.api_group_item  ul {
  /*margin-inline-start: 4px;*/
  list-style: none;
}

.default-input {
  padding: 13px 20px 9px 20px;
  border: 0;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 22px;
  color: #504854;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-top: 0px;
  width: 100%;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  /*margin-right: 20px;*/
}
.rest-call-button {
  padding: 9px 20px 11px;
  border: 0;
  background-color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-left: 0 ;
  float: left;
  border: 1px solid #333333;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  text-align: center;
  line-height: 24px;
}

.default-button {
  display: block;
  border: 0;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #53C4EF;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 0px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  padding: 4px 0 4px 0;
}

.bg--white {
  background-color: #fff;
  margin-left: 25px;
}

.accounts {
  margin: 19px 0 0 0;
}

.content-box__text {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin: -3px 0 0 0;
  padding: 0 22px 15px 0;
  letter-spacing: 0;
}
.content-box__text:last-child {
  padding: 0 22px 44px 0;
}

.content-box__info-box {
  width: 100%;
  background-color: #333333;
  color: #fff;
  margin-top: 13px;
  padding: 14px 19px 44px 19px;
  overflow-x: auto;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  clear: left;
}
.roles__bank_id_input {
  color: #000000;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

.content-box__info-box span {
  /*display: block;*/
  padding: 0 0 1.5px 0;
  font-size: 14px;
  line-height: 24px;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.content-box__title {
  width: 701px;
  background-color: #red;
  float: right;
  margin: 16px 0 0 0;
  padding: 14px 0 44px 19px;
  position: relative;
  min-height: 100%;
}


.possible_error_item {
	max-width: 800px; /* ugly hack */
}

.connector_method_item {
  max-width: 800px; /* ugly hack */
}
/*
.content-box__info-box span:nth-child(n+2) {
  padding-left: 10px;
}
.content-box__info-box span:nth-child(n+3) {
  padding-left: 19px;
}
.content-box__info-box span:nth-child(n+6) {
  padding-left: 29px;
}
*/

.content-box__close-icon {
  position: absolute;
  top: 23px;
  right: 18px;
  z-index: 10;
  cursor: pointer;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/*a {*/
/*  background-color: transparent;*/
/*  color: #333333;*/
/*}*/

/*p a {*/
/*  background-color: transparent;*/
/*  color: #333333;*/
/*}*/
.connector_method_item a {
  color: #ffffff;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/*a:active,*/
/*a:hover {*/
/*  outline: 0;*/
/*  color: #FFFFFF;*/
/*  text-decoration:underline*/
/*}*/

/* Text-level semantics
========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
}

.glossary code,
.glossary kbd,
.glossary pre,
.glossary samp {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border-radius: 0;
  outline: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform:capitalize;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  outline: 0;
  background: #F3F3F3;
  border: 1px solid #333333;
  outline: 0;  
  border-radius: 0px;
}

button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  outline: 0;
  background: #EDEDED;
  border: 1px solid #333333;
  border-radius: 0px;
}

.input.focus,
.input:focus,
.input.active.focus,
.input.active:focus,
.input.active:hover,
.input:active.focus,
.input:active:focus,
.input:active:hover{
  border-radius: 0;
  outline: 0;
  border-radius: 0px;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled]{
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
  outline: 0;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}



a.version {
  color: #fff;
  text-decoration: none;
}

a.version:hover {
  text-decoration: underline;
}


a.end-point-anchor {
  text-decoration: none;
}


.full_path {
    line-height: 22px;
    color: #1f97ef;
    letter-spacing: 0;
    margin: 0 0 0 5px;
    clear: both;
    font-family: Roboto-Regular;
    font-size: 12px;
    line-height: 24px;
}

.clearfloat {
	clear: both;
}

#logo-left{
    margin: 24px 0 24px 25px;
    height: 40px;
}

#logo-right{
  margin-left: 10%;
  margin-right: 5px;
  padding-top: 10px;
  float: right;
  visibility: hidden;
}

#site-title-text{
  margin-top: 29px ;
  margin-right: 0px ;
  margin-bottom: 28px ;
  margin-left: 30%;
}

.username {
  color: #000;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

.logout-link {
  color: #000;
  font-size: 12px;
  padding: 9px 20px 11px;
  border: 1px solid #333333;
  font-size: 16px;
  color: #333333;
  text-align: center;
  line-height: 24px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}

.logout-link:hover{
  background-color: #F3F3F3;
  text-decoration: none;
}

.logout-link:active{
 background-color: #EDEDED;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: 12% 44% 44%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  float: left;
  grid-template-areas: "header header header";
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 80%;
}

 .grid-header {grid-area: header}

.select2-container--default .select2-selection--single {
  height: 44px;
  border-radius: 0px;
  border: 1px solid #767676;
  background: url(../images/dropdown-icon.jpg) no-repeat right 8px top 5px;
  background-size: 44px 32px;
  width: 187px;
  outline: 0;
}
.select2-container--default .select2-selection--single:focus {
  outline: solid 2px -webkit-focus-ring-color;
}
.select2-container--open .select2-selection--single {
  background: url(../images/dropdown-up-icon.jpg) no-repeat right 8px top 5px;
}


.select2-search--dropdown {
  display: none;
}
.select2-results__option {
  padding: 6px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid #EDEDED;;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  margin-top: 9px;
  padding-left: 9px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-results__option--highlighted:hover {
  background: #F3F3F3;
  color: #333333;
}
.select2-container--default .select2-results__option--highlighted:active {
  background:  #EDEDED;;
  color: #333333;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background: #ffffff;
  color: #333333;
  border-left: 3px #53C4EF solid;
}

#resouce-footer .container p{
  margin-left: 25px;
  font-family: Roboto-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

#resouce-footer .container li,
#resouce-footer .container ul {
    margin: 0;
    padding: 0;
}
{
    list-style-type: none;
}

#resouce-footer .container li {
    list-style-type: none;
}

#resouce-footer .container p a {
  background-color: transparent;
  color: #333333;
  text-decoration: underline;
}
#resouce-footer .container  p a:hover,
#resouce-footer .container p a:visited {
  text-decoration: underline;
  color: #333333;
}

#button-show,
#button-hide{
  border-radius:0px;
  border: 1px solid #000000;
}
/*all the footer*/
footer .footer_link {
  text-decoration: none;
}

footer .footer-content-wrapper {
  padding: 24px 0px 24px 25px;
}

footer .footer-logo-box {
  float: right;
  margin: 45px 4px 0 0;
}

footer .footer-links-box {
  padding: 0 0 0 10px;
  margin: 17px 0 0 0;
  float: left;
}

footer .footer-link-box__link {
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
}

footer .footer-link-box__link:last-child {
  border-right: 0;
}

footer {
  /*padding: 24px 100px;*/
  color: #FFFFFF;
  background-color: #333333;
  text-align: left;
  line-height: 20px;
}

footer #copyright a,span{
  color: #D7D8D6;
  text-decoration: none;
}
footer .footer-box__paragraph a {
   margin-right: 40px;
   text-decoration: none;
 }
footer .footer-box__paragraph a:hover {
  text-decoration:underline;
}
footer .footer-box__paragraph, 
footer .footer-box__paragraph li {
    margin: 0;
    padding: 0;
}

footer .footer-box__paragraph li {
    display: inline-block;
}

footer .footer-box__paragraph {
  margin-bottom: 24px;
  margin-top: 0px;
}
footer .footer-box__paragraph2 {
  margin-bottom: 0px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
  
}

footer .footer-box__paragraph2 a:hover  {
  text-decoration:underline;
}
footer a,span,
footer a:hover{
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 20px;
}

.api_group_item_small_screen {
  margin: 20px 0 20px 0px;
  list-style-type: none;
  list-style-image: none;
}
.api_group_item_small_screen .api_group_name_small_screen:first-child {
  margin-bottom: 20px;
}
.api_group_item_small_screen .api_list_item_small_screen:last-child {
  margin-bottom: 12px;
}
.api_group_item_small_screen a {
  text-decoration: none;
  font-family: Roboto-Light;
  font-size: 19px;
  color: #333333;
  line-height: 27px;
  display: inline-block;
  margin-bottom: 12px;
}
.api_group_item_small_screen a:hover {
  color: #333333;
}

.api_group_name_small_screen{
  margin-bottom: 20px;
}
.api_list_small_screen ul {
  list-style-type: none;
  padding-left: 0px;
}
.api_list_small_screen{
  margin-top: 113px;
  margin-left: 28px;
  margin-right: 28px;
}
.api_list_item_small_screen img{
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 5px;
}

#api-info-section-more-page{
  top: 137px;
  z-index: 1;
}
#breadcrumb-section-more-page{
  top:85px;
  height: 52px;
}
#option-section-more-page{
  top: 204px;
  z-index: 1;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
  background-color: #53C4EF;
}

.breadcrumbs__list .dropdown .dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

#manual-redirect{
  margin: 120px;
  margin-left: 16px;
  display: none;
}

#redirect-link{
  background-color: #53C4EF;
  border-color: #53C4EF;
}


#redirect-link:hover{
  background: #1f97ef;
}

#redirect-link:active{
  background: #0b3aef;;
}

.content-box form .favourites_button{
  padding:0;
  margin:0;
  margin-bottom: 20px;
  margin-top: -15px;
  border: 0;
  font-size: 40px;
  background-color: white;
}
.favourites_error_message{
  color: red;
}

a, a:focus, a:hover {
  color: inherit;
  word-break:break-all;
}
p{
  word-break:break-all;
}
.glossary .content-box__text-box p code{
  color: #000000;
}

.glossary img{
  width: 100%;
}

.content-box__available-since span{
  color: #000000;
  font-size: 8px;
  font-family: Roboto-Regular;
}

#dropdownMenuButton{
  height: 22px;
  padding: 0px 0px;
  background-color: #333333;
  border-color: #333333;
}

#dropdownMenuButton img{
  vertical-align:baseline;
}

details > summary.api_group_item_details_summary{
  display:list-item;
  cursor:s-resize;
}

.api-info-filter {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.api-info-filter input[type=text] {
  padding: 10px;
  font-size: 17px;
  float: left;
  width: 100%;
}

.api-info-filter::after {
  content: "";
  clear: both;
  display: table;
}